* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #dbc1ff;
    text-align: center;
    color: #ffffff;
}

header {
    background-color: #2b0164;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header img {
    height: 50px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form {
    margin-bottom: 20px;
}

.form label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
}

.form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2b0164;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    color: #ffffff;
}

.form button:hover {
    background-color: #381963;
}

.gato img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.gato p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #2b0164;
    color: white;
}
